@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap');

$main-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;

// kolory tła
$main-background-color: #ffb8ca;
$secondary-background-color: #e5e5e5;
$third-background-color: #fff5f6;
$hamburger-background-color: #e17992;

$header-circle-color: #ffa5ba;

// kolory czcionek
$main-font-color: #ffffff;
$secondary-font-color: #d41443;
$dark-font-color: #000000;
$third-font-color: #ffa5ba;
$description-secondary-color: #907e82;

$products-secondary-background: #f0d1a5;
$products-third-background: #c2e297;

$reviews-background: #fafafa;
$reviews-dot-color: #d9d9d9;
$reviews-line: #E1E1E1;
$reviewers-dot: #C7133E;
$reviewers-home: #D31342;

// kolory przycisków

$button-hover: #ECEBEB;