<section class="about" id="about">
  <div class="container about__container">
  <p class="about__label">tradition and love</p>
  <h1 class="about__title">how it's made?</h1>
  <div class="about__content">
    <picture>
      <source srcset="./images/about/cow_desktop.png 1x, ./images/about/cow_desktop@2x.png 2x" media="(min-width: 1280px)" />
      <source srcset="./images/about/cow_tablet.png 1x, ./images/about/cow_tablet@2x.png 2x" media="(min-width: 768px)" />
      <img class="about__img" alt="zdjęcia dzbanka z mlekiem na tle krowy" src="./images/about/cow_mobile.png" srcset="./images/about/cow_mobile@2x.png 2x" />
    </picture>
    <div class="about__text-content">
      <p class="about__text about__text--distinction">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula
        volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.<br /><br />
        Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button class="btn-light" type="button">
        Read more
        <svg class="btn-light__icon" width="8" height="14">
          <use href="./images/icons.svg#icon-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
</section>
