<section class="advantages" id="advantages">
    <div class="container">
    <h1 class="advantages__title">advantages</h1>
<ul class="advantages__list">
    <li class="advantages__item">
       <p class="advantages__number advantages__number--milk">721</p>
       <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
       </p>
    </li>
    <li class="advantages__item">
        <p class="advantages__number advantages__number--fruits">16kg</p>
        <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
    </li>
    <li class="advantages__item">
        <p class="advantages__number advantages__number--heart">84</p>
        <p class="advantages__text advantages__text--last">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
    </li>
</ul>
</div>
</section>