<section class="gallery">
  <div class="container gallery__container">
    <picture>
      <source srcset="./images/desktop/gallery/gallery-desktop.jpg 1x, ./images/desktop/gallery/gallery-desktop@2x.jpg 2x" media="(min-width: 1280px)" />
      <source srcset="./images/tablet/gallery/gallery-tablet.jpg 1x, ./images/tablet/gallery/gallery-tablet@2x.jpg 2x" media="(min-width: 768px)" />
      <img
        class="gallery__picture"
        alt="a collage"
        src="./images/mobile/gallery/gallery-mobile.jpg"
        srcset="./images/mobile/gallery/gallery-mobile@2x.jpg 2x"
        />
    </picture>
  </div>
</section>