<section class="hero" id="hero">
  <div class="container hero__container">
    <div class="hero__left-side">
      <h1 class="hero__title">
        <span class="hero__title1">
          ice cream <br />
          made with</span
        >
        <br />
        <span class="hero__title2"> passion </span>
      </h1>

      <button class="hero__button hero__button-products" type="button">
        <a href="#products" class="hero__button-link-products">Products</a>
      </button>
      <button class="hero__button hero__button-how" type="button">
        <a href="#about" class="hero__button-link-how">How it’s made?</a>
      </button>
      <picture>
        <source srcset="./images/hero/desktop/img.png" media="(min-width: 1280px)" />
        <img
          src="./images/hero/tablet/img.png"
          alt="Dzban mleka"
          class="hero__milk"
          srcset="
      /images/hero/tablet/img.png 1x,
      ./images/hero/tablet/img@2x.png x2"
        />
      </picture>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, <br />
        consectetur adipiscing elit, <br />
        sed do eiusmod tempor <br />
        incididunt ut labore et
      </p>

      <button class="hero__button-text" type="button">
        <svg class="hero__button-icon">
          <use href="./images/icons.svg#icon-arrow-right2"></use>
        </svg>
      </button>
    </div>

    <div class="hero__ice-cream">
      <picture>
        <source srcset="./images/hero/desktop/img1.png" media="(min-width: 1280px)" />
        <source srcset="./images/hero/tablet/img1.png 1x, ./images/hero/tablet/img1@2x.png 2x" media="(min-width: 768px)" />
        <img
          src="./images/hero/mobile/img.png"
          alt="Lód rożek z 6 gałkami"
          class="hero__ice-cream-photo"
          srcset="./images/hero/mobile/img.png 1x, ./images/hero/mobile/img@2x.png 2x"
        />
      </picture>
      <div class="hero__ice-cream-circle">
           <img src="./images/hero/mobile/circle.png" alt="ucięte kółko" class="hero__circle">
      </div>
    </div>

    <div class="hero__right-side">
      <ul class="hero__list">
        <li class="hero__list-item">
          <ul class="hero__list-inside">
            <li class="hero__list-inside-item circle dot1"></li>
            <li class="hero__list-inside-item hero__number number1">16</li>
            <li class="hero__list-inside-item hero__list-text text1">cafes</li>
          </ul>
        </li>

        <li class="hero__list-item">
          <ul class="hero__list-inside">
            <li class="hero__list-inside-item circle dot2"></li>
            <li class="hero__list-inside-item hero__number number2">23</li>
            <li class="hero__list-inside-item hero__list-text text2">food trucks</li>
          </ul>
        </li>
      </ul>

      <picture>
        <source srcset="./images/hero/desktop/img2.png" media="(min-width: 1280px)" />
        <img
          src="./images/hero/tablet/img2.png"
          alt="Kobieta jedząca loda"
          class="hero__lady"
          srcset="./images/hero/tablet/img2.png 1x, ./images/hero/tablet/img2@2x.png 2x"
        />
      </picture>
    </div>
  </div>
</section>
