<section class="products" id="products">
  <div class="container">
    <div class="products__title-container">
      <div class="products__title">
        <div class="products__title-main">100% natural</div>
        <div class="products__title-secondary">products</div>
      </div>
    </div>

    <div class="products__list-container">
      <ul class="products__list">
        <li class="products__list-item">
          <picture>
            <source srcset="./images/products/desktop/product-1-desktop.png 1x, ./images/products/desktop/product-1-desktop@2x.png 2x" media="(min-width: 1280px)" />
            <source srcset="./images/products/tablet/product-1-tablet.png 1x, ./images/products/tablet/product-1-tablet@2x.png 2x" media="(min-width: 768px)" />
            <img
              class="products__picture"
              alt="ice cream"
              src="./images/products/mobile/product-1-mobile.png"
              srcset="./images/products/mobile/product-1-mobile@2x.png 2x"
            />
          </picture>
          <div class="products__description-container products__first">
            <h1 class="products__description-title">ice cream</h1>
            <div class="products__description-dots">
              <svg class="products__description-dot">
                <use href="./images/icons.svg#icon-eclipse"></use>
              </svg>
              <svg class="products__description-dot">
                <use href="./images/icons.svg#icon-eclipse"></use>
              </svg>
              <svg class="products__description-dot">
                <use href="./images/icons.svg#icon-eclipse"></use>
              </svg>
            </div>
            <div class="products__description-recipe">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
            </div>
            <div class="products__description-link">
              <a href="#"><img src="./images/products/arrow.png" alt="" /></a>
            </div>
          </div>
        </li>
        <li class="products__list-item">
          <picture>
            <source srcset="./images/products/desktop/product-2-desktop.png 1x, ./images/products/desktop/product-2-desktop@2x.png 2x" media="(min-width: 1280px)" />
            <source srcset="./images/products/tablet/product-2-tablet.png 1x, ./images/products/tablet/product-2-tablet@2x.png 2x" media="(min-width: 768px)" />
            <img
              class="products__picture"
              alt="ice cream"
              src="./images/products/mobile/product-2-mobile.png"
              srcset="./images/products/mobile/product-2-mobile@2x.png 2x"
            />
          </picture>
          <div class="products__description-container products__second">
            <h1 class="products__description-title products__second-title">ice coffee</h1>
            <div class="products__description-dots">
              <svg class="products__description-dot">
                <use href="./images/icons.svg#icon-eclipse"></use>
              </svg>
              <svg class="products__description-dot">
                <use href="./images/icons.svg#icon-eclipse"></use>
              </svg>
              <svg class="products__description-dot">
                <use href="./images/icons.svg#icon-eclipse"></use>
              </svg>
            </div>
            <div class="products__description-recipe">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
            </div>
            <div class="products__description-link">
              <a href="#"><img src="./images/products/arrow.png" alt="" /></a>
            </div>
          </div>
        </li>
        <li class="products__list-item">
          <picture>
            <source srcset="./images/products/desktop/product-3-desktop.png 1x, ./images/products/desktop/product-3-desktop@2x.png 2x" media="(min-width: 1280px)" />
            <source srcset="./images/products/tablet/product-3-tablet.png 1x, ./images/products/tablet/product-3-tablet@2x.png 2x" media="(min-width: 768px)" />
            <img
              class="products__picture"
              alt="ice cream"
              src="./images/products/mobile/product-3-mobile.png"
              srcset="./images/products/mobile/product-3-mobile@2x.png 2x"
            />
          </picture>
          <div class="products__description-container products__third">
            <h1 class="products__description-title products__third-title">milkshakes</h1>
            <div class="products__description-dots">
              <svg class="products__description-dot">
                <use href="./images/icons.svg#icon-eclipse"></use>
              </svg>
              <svg class="products__description-dot">
                <use href="./images/icons.svg#icon-eclipse"></use>
              </svg>
              <svg class="products__description-dot">
                <use href="./images/icons.svg#icon-eclipse"></use>
              </svg>
            </div>
            <div class="products__description-recipe">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
            </div>
            <div class="products__description-link">
              <a href="#"><img src="./images/products/arrow.png" alt="" /></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
