@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 115px;
    padding-right: 115px;
    width: 1280px;
  }
}

.reviews .container {
  display: block;
}

.products .container {
  display: block;
}

.header__container {
  background-color: #ffb8ca;
}

.header {
  background-color: #ffb8ca;
}

.navigation__button-tablet {
  display: none;
}

.navbar {
  font-family: var(--main-font);
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  background: #e17992;
  right: -100%;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  z-index: 30;
}

.change {
  right: 0;
}

.hamburger-menu {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 50;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #d41443;
  transition: all 0.8s;
}

.hamburger-menu--opened .line-1 {
  transform: rotateZ(-405deg) translate(-4px, 4px);
  background-color: #ffffff;
}

.hamburger-menu--opened .line-2 {
  opacity: 0;
}

.hamburger-menu--opened .line-3 {
  transform: rotateZ(405deg) translate(-5px, -5px);
  background-color: #ffffff;
}

.navigation__button {
  border: none;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  border-radius: 22px;
  margin-top: 60px;
  width: 186px;
  height: 44px;
  text-align: center;
  margin-bottom: 34px;
  background-color: #ffffff;
}

.navigation__button:hover,
.navigation__button:focus {
  background-color: #ecebeb;
  cursor: pointer;
}

.navigation__button-div {
  display: flex;
  justify-content: center;
}

.navigation__button-icon {
  margin-left: 15.77px;
  stroke: #d41443;
}

.navigation__link {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding-left: 21px;
}

.navigation__item {
  border-top: 1px solid #e18298;
  padding: 12px 0;
}

.navigation__item:nth-child(5) {
  border-bottom: 1px solid #e18298;
}

.navigation__link:hover {
  color: #d41443;
}

.logo {
  padding-top: 6px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__container {
    padding-top: 38px;
    display: flex;
    justify-content: space-between;
  }
  .navigation__button-tablet {
    display: block;
    border: none;
    color: #d41443;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    border-radius: 22px;
    width: 160px;
    height: 44px;
    text-align: center;
    background-color: #ffffff;
  }
  .navigation__button-tablet:hover,
  .navigation__button-tablet:focus {
    background-color: #ecebeb;
  }
  .hamburger-menu {
    margin-right: 30px;
    position: unset;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navbar {
    width: 254px;
    z-index: 40;
  }
  .hamburger-menu--opened {
    transform: translateX(200px) translateY(-30px);
  }
  .logo {
    padding-top: 0;
  }
  .navigation__link {
    padding-left: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    padding-top: 37px;
    padding-left: 46px;
    padding-right: 115px;
    display: flex;
  }
  .hamburger-menu {
    display: none;
  }
  .logo {
    padding-top: 0;
    margin-right: 110px;
  }
  .navbar {
    position: static;
    transition: 0;
    background: none;
    width: 100%;
  }
  .navigation {
    display: flex;
    flex-direction: row-reverse;
  }
  .navigation__list {
    display: flex;
    margin-right: 110px;
    gap: 35px;
  }
  .navigation__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    padding-left: 0;
  }
  .navigation__button {
    margin-bottom: 0;
    margin-top: 0;
    width: 160px;
  }
  .navigation__item {
    border: none;
  }
  .navigation__item:nth-child(5) {
    border: none;
  }
}

.hero__container {
  height: 446px;
  background-color: #ffb8ca;
  position: relative;
  display: flex;
}

.hero {
  background-color: #ffb8ca;
}

.hero__milk {
  display: none;
}

.hero__text {
  display: none;
}

.hero__button-text {
  display: none;
}

.hero__right-side {
  display: none;
}

.hero__button {
  border: none;
  border-radius: 20px;
  z-index: 20;
  bottom: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__button-products {
  width: 61.2px;
  height: 24px;
  background-color: #d41443;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 160px;
  margin-left: -120px;
}

.hero__button-products:hover,
.hero__button-products:focus {
  background-color: #c7133e;
  cursor: pointer;
}

.hero__button-link-products {
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
}

.hero__button-how {
  width: 82.8px;
  height: 24px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 160px;
  margin-left: -50px;
}

.hero__button-how:hover,
.hero__button-how:focus {
  background-color: #ecebeb;
  cursor: pointer;
}

.hero__button-link-how {
  color: #d41443;
  font-size: 8px;
  line-height: 10px;
}

.hero__title {
  font-family: "Titan One", cursive;
  font-weight: 400;
  z-index: 20;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -120px;
  margin-bottom: 203px;
}

.hero__title1 {
  color: #ffffff;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.hero__title2 {
  color: #d41443;
  font-size: 48px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.hero__ice-cream-circle {
  position: absolute;
  right: 0;
  bottom: 75px;
}

.hero__ice-cream-photo {
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__container {
    height: 312px;
    display: flex;
    justify-content: space-between;
  }
  .hero__title {
    left: 155px;
  }
  .hero__title1 {
    font-size: 22px;
    line-height: 25px;
  }
  .hero__title2 {
    font-size: 34px;
  }
  .hero__button-products {
    left: 155px;
  }
  .hero__button-how {
    left: 152px;
  }
  .hero__milk {
    display: block;
    position: absolute;
    bottom: 28px;
  }
  .hero__circle {
    display: none;
  }
  .hero__ice-cream-circle {
    right: 142px;
    bottom: 46px;
    height: 324px;
    width: 322px;
    border-radius: 50%;
    background-color: #ffa5ba;
    position: absolute;
  }
  .hero__ice-cream-photo {
    right: 247px;
  }
  .hero__text {
    display: block;
    font-size: 8px;
    color: #ffffff;
    line-height: 150%;
    position: absolute;
    left: 154px;
    top: 205px;
  }
  .hero__button-text {
    display: block;
    border-radius: 50%;
    border: none;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 154px;
    top: 260px;
    background-color: #ffffff;
  }
  .hero__right-side {
    display: block;
  }
  .hero__list-text {
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: #ffffff;
    position: absolute;
    right: 42px;
  }
  .hero__number {
    font-family: "Titan One", cursive;
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #d41443;
    z-index: 30;
    margin-bottom: 24px;
  }
  .circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 12px;
  }
  .dot1 {
    position: absolute;
    top: 12px;
    right: 34px;
  }
  .number1 {
    position: absolute;
    top: 26px;
    right: 43px;
  }
  .text1 {
    position: absolute;
    top: 58px;
    right: 44px;
  }
  .dot2 {
    position: absolute;
    top: 69px;
    right: 34px;
  }
  .number2 {
    position: absolute;
    top: 82px;
    right: 42px;
  }
  .text2 {
    position: absolute;
    top: 115px;
    right: 42px;
  }
  .hero__button-icon {
    fill: #d41443;
    width: 6px;
    height: 6px;
    display: flex;
  }
  .hero__lady {
    position: absolute;
    top: 184px;
    right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__container {
    height: 578px;
    display: flex;
    justify-content: space-between;
  }
  .hero__title {
    top: 84px;
    left: 115px;
    margin-left: 0;
  }
  .hero__title1 {
    font-size: 38px;
    line-height: 25px;
    line-height: 43.51px;
  }
  .hero__title2 {
    font-size: 58px;
    line-height: 52.49px;
  }
  .hero__button {
    margin-left: 0;
    margin-bottom: 0;
    bottom: 292px;
    height: 40px;
  }
  .hero__button-products {
    left: 115px;
    width: 104px;
  }
  .hero__button-link-products,
  .hero__button-link-how {
    font-size: 14px;
  }
  .hero__button-how {
    width: 138px;
    left: 234px;
  }
  .hero__milk {
    display: block;
    position: absolute;
    bottom: 45px;
    left: 77px;
  }
  .hero__circle {
    display: none;
  }
  .hero__ice-cream-circle {
    height: 538px;
    width: 538px;
    left: 465px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #ffa5ba;
    position: absolute;
  }
  .hero__text {
    display: block;
    font-size: 14px;
    color: #ffffff;
    line-height: 140%;
    position: absolute;
    left: 295px;
    bottom: 102px;
  }
  .hero__button-text {
    display: block;
    border-radius: 50%;
    border: none;
    width: 26px;
    height: 26px;
    position: absolute;
    left: 295px;
    bottom: 56px;
    background-color: #ffffff;
  }
  .hero__button-icon {
    fill: #d41443;
    width: 10px;
    height: 10px;
  }
  .hero__ice-cream-photo {
    right: 405px;
  }
  .hero__right-side {
    display: block;
  }
  .hero__list-text {
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #ffffff;
    position: absolute;
    right: 42px;
  }
  .hero__number {
    font-family: "Titan One", cursive;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    z-index: 30;
    margin-bottom: 38px;
  }
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 74px;
  }
  .dot1 {
    position: absolute;
    top: 1px;
    right: 97px;
  }
  .number1 {
    position: absolute;
    top: 78px;
    right: 115px;
  }
  .text1 {
    position: absolute;
    top: 133px;
    right: 115px;
  }
  .dot2 {
    position: absolute;
    top: 93px;
    right: 97px;
  }
  .number2 {
    position: absolute;
    top: 169px;
    right: 115px;
  }
  .text2 {
    position: absolute;
    top: 224px;
    right: 115px;
  }
  .hero__lady {
    position: absolute;
    bottom: 0px;
    right: 109px;
  }
}

.about {
  background-color: #fff5f6;
  padding-top: 125px;
  padding-bottom: 39px;
}

.about__label {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.166;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.about__title {
  color: #d41443;
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400l;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 26px;
}

.about__img {
  width: 100%;
}

.about__text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: #907e82;
}

.about__text--distinction {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .about__container {
    background-image: url("../images/about/milk_mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 89%;
  }
  .about__text {
    padding: 23px 30px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .about__container {
    background-image: url("../images/about/milk_mobile@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 130px;
    padding-bottom: 66px;
  }
  .about__label {
    font-size: 26px;
    line-height: 1.154;
  }
  .about__title {
    font-size: 48px;
    line-height: 1.146;
    margin-bottom: 100px;
  }
  .about__content {
    display: flex;
    flex-direction: row;
  }
  .about__img {
    align-items: center;
  }
  .about__text-content {
    display: flex;
    flex-direction: column;
    max-width: 340px;
  }
  .about__text {
    font-size: 14px;
    line-height: 1.786;
    margin-bottom: 49px;
    margin-left: 17px;
  }
  .about__text--distinction {
    font-size: 14px;
    line-height: 1.76;
    margin-top: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .about__container {
    background-image: url("../images/about/milk_desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 130%;
  }
  .about__label {
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;
  }
  .about__title {
    font-size: 58px;
    line-height: 1.138;
    letter-spacing: 0.06em;
    margin-bottom: 106px;
  }
  .about__text-content {
    max-width: 465px;
  }
  .about__text {
    margin-left: 74px;
  }
  .about__text--distinction {
    margin-top: 56px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .about__container {
    background-image: url("../images/about/milk_desktop@2x.png");
  }
}

.advantages {
  background-color: #fff5f6;
}

.advantages__title {
  display: none;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.advantages__number {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.advantages__number::before {
  display: block;
  content: '';
  margin-bottom: 16px;
}

.advantages__number--milk::before {
  width: 33px;
  height: 50px;
  background-image: url("../images/advantages/milk-icon.png");
}

.advantages__number--fruits::before {
  width: 50px;
  height: 50px;
  background-image: url("../images/advantages/fruits-icon.png");
}

.advantages__number--heart::before {
  width: 44px;
  height: 50px;
  background-image: url("../images/advantages/heart-icon.png");
}

.advantages__text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  color: #000000;
  margin-bottom: 38px;
  margin-top: 20px;
}

.advantages__text--last {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
    padding-right: 42px;
  }
  .advantages__number {
    font-size: 48px;
    line-height: 1.146;
    margin-top: 40px;
  }
  .advantages__number::before {
    margin-bottom: 36px;
  }
  .advantages__item {
    padding-right: 20px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 60px;
  }
  .advantages__text {
    font-size: 14px;
    line-height: 1.714;
    margin-bottom: 0px;
    margin-top: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__number {
    font-size: 58px;
    line-height: 1.138;
    margin-top: 44px;
  }
  .advantages__number::before {
    margin-bottom: 40px;
  }
  .advantages__text {
    font-size: 16px;
    line-height: 1.75;
    margin-top: 15px;
  }
}

.gallery {
  padding-top: 97px;
  padding-bottom: 80px;
  background-image: linear-gradient(to bottom, #fff5f6 48.5%, #ffffff 48.5%);
}

.gallery__container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.gallery__picture {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 140px;
    padding-bottom: 121px;
    background-image: linear-gradient(to bottom, #fff5f6 47%, #ffffff 47%);
  }
  .gallery__container {
    height: 100%;
  }
  .gallery__picture {
    width: 786px;
    height: 264px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    padding-top: 139px;
    padding-bottom: 123px;
    background-image: linear-gradient(to bottom, #fff5f6 45%, #ffffff 45%);
  }
  .gallery__picture {
    width: 1280px;
    height: 430px;
  }
}

.reviews__picture {
  margin-bottom: 29px;
}

.reviews__picture-container {
  display: flex;
  justify-content: center;
}

.reviews__icon {
  width: 54px;
  height: 40px;
  fill: #E1E1E1;
  position: relative;
  left: 124px;
  bottom: 114px;
}

.reviews__content {
  display: flex;
  justify-content: center;
  width: 157px;
  height: 239px;
}

.reviews__content-main-container {
  display: flex;
  justify-content: center;
}

.reviews__content-container {
  background-color: #fafafa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  height: 308px;
}

.reviews__content-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  width: 157px;
  height: 239px;
  flex-shrink: 0;
  position: relative;
  top: 0;
  left: 65px;
}

.reviews__content-lines {
  min-width: 180px;
  height: 217px;
  position: relative;
  top: 20px;
  left: -105px;
}

.reviews__lines {
  width: 100%;
  border-top: 1px solid #E1E1E1;
  height: 29.57px;
}

.reviews__reviewers {
  width: 172px;
  height: 89px;
  display: block;
  margin-bottom: 170px;
}

.reviews__reviewers-container {
  display: flex;
  justify-content: center;
}

.reviewers__dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 18px;
}

.reviewers__dot {
  width: 4px;
  height: 4px;
  fill: #C7133E;
}

.reviewers__names {
  width: 172px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.reviewers__names-data {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 86;
  color: #000000;
}

.reviewers__pagination {
  display: flex;
  gap: 18px;
  width: 72.4px;
  height: 12px;
}

.reviewers__pagination-icon-active {
  width: 12.4px;
  height: 11.84px;
  fill: #D31342;
}

.reviewers__pagination-icon {
  width: 12px;
  height: 12px;
  fill: #d9d9d9;
}

.reviewers__pagination-icon:focus, .reviewers__pagination-icon:hover {
  fill: #D31342;
}

.reviewers__pagination-container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .reviews__content {
    width: 620px;
    max-height: 164px;
  }
  .reviews__content-container {
    max-width: 620px;
    max-height: 164px;
    margin-bottom: 24px;
  }
  .reviews__content-text {
    width: 460px;
    height: 83px;
    position: relative;
    top: 30px;
    left: 235px;
    font-size: 14px;
    letter-spacing: 0.04em;
  }
  .reviews__content-lines {
    min-width: 524px;
    height: 60px;
    position: relative;
    top: 14px;
    left: -265px;
  }
  .reviews__lines {
    height: 30px;
  }
  .reviews__reviewers {
    margin-bottom: 197px;
  }
  .reviews__icon {
    position: relative;
    left: 248px;
    bottom: 44px;
  }
  .line-8,
  .line-7,
  .line-6,
  .line-5,
  .line-4 {
    display: none;
  }
  .reviewers__dots {
    margin-bottom: 14px;
  }
  .reviewers__names {
    margin-bottom: 35px;
  }
  .reviewers__names-data {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__content {
    width: 926px;
    max-height: 350px;
  }
  .reviews__content-container {
    max-width: 926px;
    max-height: 138px;
    margin-bottom: 15px;
  }
  .reviews__content-text {
    width: 750px;
    height: 52px;
    position: relative;
    top: 90px;
    left: 375px;
    font-size: 16px;
    line-height: 1.672;
  }
  .reviews__content-lines {
    min-width: 810px;
    position: relative;
    top: 24px;
    left: -405px;
  }
  .reviews__lines {
    height: 30px;
  }
  .reviews__reviewers {
    margin-bottom: 234px;
  }
  .reviews__icon {
    position: relative;
    left: 392px;
    bottom: 24px;
  }
  .line-8,
  .line-7,
  .line-6,
  .line-5,
  .line-4,
  .line-3 {
    display: none;
  }
  .reviewers__dots {
    margin-bottom: 15px;
  }
  .reviewers__names {
    margin-bottom: 35px;
  }
  .reviewers__names-data {
    font-size: 16px;
  }
}

.shops {
  position: relative;
  width: 100%;
  max-height: 1444px;
  background-color: #fff5f6;
}

@media screen and (max-width: 767px) {
  .shops {
    padding-bottom: 56px;
    min-height: 1444px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shops {
    padding-bottom: 79px;
    min-height: 687px;
  }
}

@media screen and (min-width: 1280px) {
  .shops {
    padding-bottom: 85px;
    min-height: 693px;
    max-height: 700px;
    background-image: url(../images/Shops/shops.png);
    background-color: #fff5f6;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .shops {
    background-image: url(../images/Shops/shops@2x.png);
    max-height: 700px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .shops {
    background-image: url(../images/Shops/shops@3x.png);
    max-height: 700px;
  }
}

@media screen and (max-width: 767px) {
  .shops .container {
    min-height: 1404px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shops .container {
    min-height: 603px;
  }
}

@media screen and (min-width: 1280px) {
  .shops .container {
    min-height: 607px;
  }
}

@media screen and (min-width: 768px) {
  .shops__list {
    display: flex;
  }
}

.shops__wrapper {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -84px);
}

@media screen and (min-width: 768px) {
  .shops__wrapper {
    transform: translate(50%, -78px);
  }
}

@media screen and (min-width: 1280px) {
  .shops__wrapper {
    transform: translate(50%, -102px);
  }
}

@media screen and (max-width: 767px) {
  .shops__list {
    margin-bottom: 54px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shops__list {
    margin-bottom: 81px;
  }
}

@media screen and (min-width: 1280px) {
  .shops__list {
    margin-bottom: 86px;
  }
}

.shops__item {
  background-color: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

@media screen and (max-width: 767px) {
  .shops__item {
    padding: 43px 20px;
    width: 220px;
  }
  .shops__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .shops__item {
    padding: 50px 31px;
    width: 220px;
  }
  .shops__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .shops__item {
    padding: 51px 44px 62px 43px;
    width: 330px;
  }
  .shops__item:not(:last-child) {
    margin-right: 31px;
  }
}

.shops__title {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  justify-content: center;
  align-items: center;
  margin: 0 0 25px 0;
  width: 80px;
  height: 16px;
  background: #f0d1a5;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.86;
  text-align: center;
  color: #ffffff;
}

.shops__title.shops--green {
  width: 130px;
  height: 16px;
  background: #c2e297;
}

@media screen and (min-width: 768px) {
  .shops__title {
    margin: 0 0 30px 0;
    width: 73px;
    height: 28px;
    border-radius: 6px;
    font-size: 16px;
  }
  .shops__title.shops--green {
    width: 138px;
    height: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .shops__title {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.shops__city {
  margin-bottom: 10px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .shops__city {
    margin-bottom: 14px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .shops__city {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.shops__text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.50;
  letter-spacing: 0.04em;
  color: #907e82;
  padding-bottom: 25px;
  margin: 0 0 25px 0;
  border-bottom: 1px solid #e1e1e1;
}

@media screen and (min-width: 768px) {
  .shops__text {
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.66;
  }
}

@media screen and (min-width: 1280px) {
  .shops__text {
    padding-bottom: 32px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.83;
  }
}

.shops-table {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  margin: 0 0 25px 0;
}

@media screen and (min-width: 768px) {
  .shops-table {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .shops-table {
    margin-bottom: 32px;
    padding-bottom: 32px;
  }
}

.shops-table__day {
  margin: 0;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .shops-table__day {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .shops-table__day {
    font-size: 16px;
  }
}

.shops-table__time {
  margin: 0;
  font-size: 12px;
  line-height: 1.86;
  color: #FFA5BA;
}

@media screen and (min-width: 768px) {
  .shops-table__time {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .shops-table__time {
    font-size: 16px;
  }
}

.shops-table__workday:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .shops-table__workday:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .shops-table__workday:not(:last-child) {
    margin-bottom: 15px;
  }
}

.shops-contacts {
  font-style: normal;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.shops-contacts a {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .shops-contacts {
    font-size: 14px;
    line-height: 1.83;
  }
}

@media screen and (min-width: 1280px) {
  .shops-contacts {
    font-size: 16px;
  }
}

.shops-button-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .shops-button-list {
    flex-direction: row;
    justify-content: center;
  }
}

.shops-button-list__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .shops-button-list__item:not(:last-child) {
    margin-bottom: unset;
  }
  .shops-button-list__item:not(:last-child):not(:last-child) {
    margin-right: 15px;
  }
}

.button {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;
  height: 44px;
  padding-left: 17px;
  padding-right: 17px;
  border: 1px solid #ffffff;
  border-radius: 22px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.arrow--light {
  stroke: #d41443;
}

.arrow--dark {
  stroke: #ffffff;
}

.button--dark {
  color: #ffffff;
  background: #d41443;
  border: 1px solid #d41443;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .button--dark {
    margin-right: 14.5px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .button--dark {
    margin-right: 15px;
    margin-bottom: 0;
  }
}

.button--light {
  color: #d41443;
  background: #ffffff;
  border: 1px solid #ffffff;
}

.button--dark:hover,
.button--dark:focus {
  background: #C7133E;
  border: 1px solid #C7133E;
}

.button--light:hover,
.button--light:focus {
  background: #ECEBEB;
  border: 1px solid #ECEBEB;
}

.container--backgroud-color {
  background-color: #fff5f6;
}

.container--backgroud-color .container {
  width: 320px;
}

@media screen and (min-width: 768px) {
  .container--backgroud-color .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container--backgroud-color .container {
    width: 1280px;
  }
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 97px 0;
}

.footer-text__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.133;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.footer-text__subtext {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 1.137;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
}

.footer-phone {
  margin-top: 50px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}

.footer-phone .number-phone {
  color: #d41443;
  text-decoration: none;
}

.footer-icons ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: flex-end;
}

.footer-icons ul li:not(:last-child) {
  margin-right: 24px;
}

.footer-icons ul a {
  border-radius: 50%;
  background: #fea5bb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-icons ul a .footer-icong {
  fill: #fff;
}

.footer-icons ul a:hover {
  background: #d41443;
}

.footer-copyright {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #907e82;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  padding: 10px 0;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 113px 0 0 0;
  }
  .footer-text {
    padding: 0;
  }
  .footer-text__title {
    padding-right: 66px;
    font-size: 18px;
    line-height: 1.166;
  }
  .footer-text__subtext {
    padding-bottom: 43px;
    font-size: 34px;
    line-height: 1.147;
    letter-spacing: 0.04em;
  }
  .footer-text__subtext span {
    display: block;
  }
  .footer-icons {
    width: 100%;
  }
  .footer-icons ul li:not(:last-child) {
    margin-right: 28.24px;
  }
  .footer-icons ul a {
    width: 32px;
    height: 32px;
  }
  .footer-phone {
    font-size: 12px;
    padding-bottom: 43px;
    text-align: right;
  }
  .footer-copyright {
    padding: 22px 0 25px 0;
  }
  .footer-copyright span {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 91px 0;
    align-items: start;
  }
  .footer-text__title {
    font-size: 26px;
    line-height: 1.153;
    letter-spacing: 0.04em;
  }
  .footer-text__subtext {
    font-size: 48px;
    line-height: 1.145;
    letter-spacing: 0.06em;
  }
  .footer-text__subtext span {
    display: block;
  }
  .footer-phone {
    font-size: 14px;
  }
  .footer-copyright {
    padding-top: 29px;
    padding-bottom: 18px;
  }
}

.products {
  margin-bottom: 98px;
}

.products__title {
  width: 200px;
  height: 72px;
  margin-top: 121px;
  margin-bottom: 31px;
  display: column;
}

.products__title-container {
  display: flex;
  justify-content: center;
}

.products__title-main {
  margin-bottom: 15px;
  text-align: center;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.145;
  color: #ffa5ba;
  text-transform: uppercase;
}

.products__title-secondary {
  text-align: center;
  text-transform: uppercase;
  font-family: "Titan One", cursive;
  font-size: 34px;
  line-height: 1.145;
  letter-spacing: 0.04em;
  color: #d41443;
}

.products__list {
  display: block;
}

.products__list-container {
  display: flex;
  justify-content: center;
}

.products__list-item {
  width: 280px;
  height: 598px;
  display: block;
}

.products__list-item:not(:last-child) {
  margin-bottom: 17px;
}

.products__picture {
  width: 249px;
  height: 252px;
  margin-bottom: -139px;
  margin-left: auto;
  margin-right: auto;
}

.products__description-container {
  width: 280px;
  height: 485px;
  border-radius: 24px;
  display: block;
  margin: 0 auto;
}

.products__description-title {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.145;
  letter-spacing: 0.04em;
  text-align: center;
  width: 174px;
  height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 161px;
}

.products__description-dots {
  width: 26px;
  height: 6px;
  margin: 50px auto 30px;
  display: flex;
  justify-content: space-between;
}

.products__description-dot {
  width: 6px;
  height: 6px;
  fill: #ffffff;
}

.products__description-recipe {
  width: 200px;
  height: 124px;
  margin: 0 auto 30px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.products__description-link {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.products__first {
  background-color: #ffb8ca;
}

.products__second {
  background-color: #f0d1a5;
}

.products__third {
  background-color: #c2e297;
}

@media screen and (min-width: 768px) {
  .products__title {
    width: 283px;
    height: 100px;
    margin-bottom: 39px;
  }
  .products__title-main {
    font-size: 26px;
  }
  .products__title-secondary {
    font-size: 48px;
  }
  .products__list {
    display: flex;
  }
  .products__list-item {
    width: 220px;
  }
  .products__list-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .products__description-container {
    width: 220px;
    height: 485px;
  }
  .products__picture {
    width: 220px;
    height: 226px;
  }
}

@media screen and (min-width: 1280px) {
  .products__title {
    width: 350px;
    height: 115px;
    margin-bottom: 49px;
  }
  .products__title-main {
    font-size: 30px;
  }
  .products__title-secondary {
    font-size: 58px;
  }
  .products__list {
    display: flex;
  }
  .products__list-item {
    width: 335px;
    height: 735px;
  }
  .products__list-item:not(:last-child) {
    margin-right: 24px;
  }
  .products__description-container {
    width: 329px;
    height: 525px;
  }
  .products__description-title {
    font-size: 30px;
    height: 34px;
    letter-spacing: 0.03em;
  }
  .products__description-dots {
    margin-top: 70px;
  }
  .products__description-recipe {
    width: 241px;
    height: 106px;
    font-size: 16px;
    overflow: hidden;
    line-height: 1.76;
    margin-bottom: 62px;
  }
  .products__picture {
    width: 335px;
    height: 335px;
  }
  .products__second-title {
    width: 181px;
  }
  .products__third-title {
    width: 209px;
  }
}

.btn-light {
  background: #ffffff;
  border-radius: 22px;
  color: #d41443;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 37px;
  border: none;
  margin-left: 30px;
}

.btn-light__icon {
  stroke: #d41443;
  margin-left: 14px;
  margin-bottom: -2px;
}

.btn-light:hover, .btn-light:focus {
  background-color: #ECEBEB;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .btn-light {
    font-size: 16px;
    line-height: 1.312;
    margin-left: 0px;
    align-items: flex-start;
    max-width: 179px;
    position: relative;
    margin-left: 17px;
  }
  .btn-light__icon {
    position: absolute;
    top: 40%;
    left: 67%;
  }
}

@media screen and (min-width: 1280px) {
  .btn-light {
    margin-left: 74px;
  }
  .btn-light__icon {
    top: 39%;
  }
}
/*# sourceMappingURL=main.css.map */