.about {
  background-color: $third-background-color;
  padding-top: 125px;
  padding-bottom: 11.8px;

  background-image: url('../images/milk.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 89%;

  &__label {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.166;
    text-align: center;
    text-transform: uppercase;
    color: $third-font-color;
  }

  &__title {
    color: $secondary-font-color;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400l;
    font-size: 34px;
    line-height: 1.147;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 26px;
  }

  &__img {
    width: 100%;
  }

  &__text {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: $description-secondary-color;
    padding: 23px 30px 0px;
  }

  &__text--distinction {
    color: $dark-font-color;
  }
}
