.header__container {
  background-color: $main-background-color;
}

.header {
  background-color: #ffb8ca;
}

.navigation__button-tablet {
  display: none;
}

.navbar {
  font-family: var(--main-font);
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  background: $hamburger-background-color;
  right: -100%;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  z-index: 30;
}

.change {
  right: 0;
}

.hamburger-menu {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 50;
}

.line {
  width: 100%;
  height: 1px;
  background-color: $secondary-font-color;
  transition: all 0.8s;
}

.hamburger-menu--opened .line-1 {
  transform: rotateZ(-405deg) translate(-4px, 4px);
  background-color: $main-font-color;
}

.hamburger-menu--opened .line-2 {
  opacity: 0;
}

.hamburger-menu--opened .line-3 {
  transform: rotateZ(405deg) translate(-5px, -5px);
  background-color: $main-font-color;
}

.navigation__button {
  border: none;
  color: $secondary-font-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  border-radius: 22px;
  margin-top: 60px;
  width: 186px;
  height: 44px;
  text-align: center;
  margin-bottom: 34px;
  background-color: $main-font-color;
}

.navigation__button:hover,
.navigation__button:focus {
  background-color: #ecebeb;
  cursor: pointer;
}

.navigation__button-div {
  display: flex;
  justify-content: center;
}

.navigation__button-icon {
  margin-left: 15.77px;
  stroke: $secondary-font-color;
}

.navigation__link {
  color: $main-font-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding-left: 21px;
}

.navigation__item {
  border-top: 1px solid #e18298;
  padding: 12px 0;
}

.navigation__item:nth-child(5) {
  border-bottom: 1px solid #e18298;
}

.navigation__link:hover {
  color: $secondary-font-color;
}

.logo {
  padding-top: 6px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__container {
    padding-top: 38px;
    display: flex;
    justify-content: space-between;
  }

  .navigation__button-tablet {
    display: block;
    border: none;
    color: $secondary-font-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    border-radius: 22px;
    width: 160px;
    height: 44px;
    text-align: center;
    background-color: $main-font-color;
  }
  .navigation__button-tablet:hover,
  .navigation__button-tablet:focus {
    background-color: #ecebeb;
  }

  .hamburger-menu {
    margin-right: 30px;
    position: unset;
  }

  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar {
    width: 254px;
    z-index: 40;
  }

  .hamburger-menu--opened {
    transform: translateX(200px) translateY(-30px);
  }

  .logo {
    padding-top: 0;
  }

  .navigation__link {
    padding-left: 24px;
  }
}

@media screen and (min-width: 1280px) {
.header__container {
  padding-top: 37px;
  padding-left: 46px;
  padding-right: 115px;
  display: flex;
}

.hamburger-menu {
  display: none;
}

.logo {
  padding-top: 0;
  margin-right: 110px;
}

.navbar {
  position: static;
  transition: 0;
  background: none;
  width: 100%;
}

.navigation {
 display: flex;
 flex-direction: row-reverse;

}

.navigation__list {
  display: flex;
  margin-right: 110px;
  gap: 35px;
}

 .navigation__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    padding-left: 0;
  }

.navigation__button {
  margin-bottom: 0;
    margin-top: 0;
    width: 160px;
}

.navigation__item { 
  border: none;
}

.navigation__item:nth-child(5) {
  border: none;
}


}
