.reviews {
  &__picture {
    margin-bottom: 29px;
  }

  &__picture-container {
    display: flex;
    justify-content: center;
  }

  &__icon {
    width: 54px;
    height: 40px;
    fill: $reviews-line;
    position: relative;
    left: 124px;
    bottom: 114px;
  }

  &__content {
    display: flex;
    justify-content: center;
    width: 157px;
    height: 239px;

    &-main-container {
      display: flex;
      justify-content: center;
    }

    &-container {
      background-color: $reviews-background;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 280px;
      height: 308px;
    }

    &-text {
      font-family: inherit;
      font-weight: 500;
      font-size: 12px;
      line-height: 255%;
      text-align: center;
      width: 157px;
      height: 239px;
      flex-shrink: 0;
      position: relative;
      top: 0;
      left: 65px;
    }

    &-lines {
      min-width: 180px;
      height: 217px;
      position: relative;
      top: 20px;
      left: -105px;
    }
  }

  &__lines {
    width: 100%;
    border-top: 1px solid $reviews-line;
    height: 29.57px;
  }

  &__reviewers {
    width: 172px;
    height: 89px;
    display: block;
    margin-bottom: 170px;
  }

  &__reviewers-container {
    display: flex;
    justify-content: center;
  }
}

.reviewers {
  &__dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 18px;
  }

  &__dot {
    width: 4px;
    height: 4px;
    fill: $reviewers-dot;
  }

  &__names {
    width: 172px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    &-data {
      font-family: $main-font;
      font-weight: 500;
      font-size: 14px;
      line-height: 1, 86;
      color: $dark-font-color;
    }
  }

  &__pagination {
    display: flex;
    gap: 18px;
    width: 72.4px;
    height: 12px;

    &-icon-active {
      width: 12.4px;
      height: 11.84px;
      fill: $reviewers-home;
    }

    &-icon {
      width: 12px;
      height: 12px;
      fill: $reviews-dot-color;
    }

    &-icon:focus,
    &-icon:hover {
      fill: $reviewers-home;
    }

    &-container {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .reviews {
    &__content {
      width: 620px;
      max-height: 164px;
      &-container {
        max-width: 620px;
        max-height: 164px;
        margin-bottom: 24px;
      }
      &-text {
        width: 460px;
        height: 83px;
        position: relative;
        top: 30px;
        left: 235px;
        font-size: 14px;
        letter-spacing: 0.04em;
      }
      &-lines {
        min-width: 524px;
        height: 60px;
        position: relative;
        top: 14px;
        left: -265px;
      }
    }

    &__lines {
      height: 30px;
    }

    &__reviewers {
      margin-bottom: 197px;
    }

    &__icon {
    position: relative;
    left: 248px;
    bottom: 44px;
  }
  }

  .line-8,
  .line-7,
  .line-6,
  .line-5,
  .line-4 {
    display: none;
  }

  .reviewers {

    &__dots {
      margin-bottom: 14px;
    }

    &__names {
    margin-bottom: 35px;

      &-data {
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .reviews {
    &__content {
      width: 926px;
      max-height: 350px;
      &-container {
        max-width: 926px;
        max-height: 138px;
        margin-bottom: 15px;
      }
      &-text {
        width: 750px;
        height: 52px;
        position: relative;
        top: 90px;
        left: 375px;
        font-size: 16px;
        line-height: 1.672;
      }
      &-lines {
        min-width: 810px;
        position: relative;
        top: 24px;
        left: -405px;
      }
    }

    &__lines {
      height: 30px;
    }

    &__reviewers {
      margin-bottom: 234px;
    }

    &__icon {
    position: relative;
    left: 392px;
    bottom: 24px;
  }
  }

  .line-8,
  .line-7,
  .line-6,
  .line-5,
  .line-4,
  .line-3 {
    display: none;
  }

  .reviewers {

    &__dots {
      margin-bottom: 15px;
    }

    &__names {
    margin-bottom: 35px;

      &-data {
        font-size: 16px;
      }
    }
  }
}